@font-face {
  font-family: 'Actay_wide';
  src: url(../fonts/ActayWide-Bold.otf);
}
@font-face {
  font-family: 'Actay';
  src: url(../fonts/Actay-Regular.otf);
}
@font-face {
  font-family: 'Balkara';
  src: url(../fonts/BalkaraFreeCondensed.ttf);
}
